@if (this.displayVars()){
<div class="timer__variables">
  <p class="timer-var-item">
    {{ this.workTime() * 60000 | date : "mm:ss" }} Work Time
  </p>

  <p class="timer-var-item">
    {{ this.breakTimeS() * 60000 | date : "mm:ss" }} Short Break
  </p>

  <p class="timer-var-item">
    {{ this.breakTimeL() * 60000 | date : "mm:ss" }} Long Break
  </p>

  <p class="timer-var-item">{{ this.maxInterval() }} Work Intervals</p>

  <p class="timer-var-item">{{ this.autoCycle() }} Autocycling</p>
  <button class="form-button" (click)="onOpenForm()">
    <img src="/icons/settings.png" />
  </button>
</div>
<div class="timer__settings"></div>

}
