.timer-variables {
    padding: 10px;
    margin:10px;
    border: 3px solid orange;
    display:flex;
    justify-content: space-evenly;
}

.timer-var-item{
    border: 3px solid brown;
    width: 4.5rem;
}