@if (focusedTask().length>0){
<input
  class="status"
  [(ngModel)]="focusedTask()[0].completed"
  type="checkbox"
/>
<div class="container" [class]="currentColor()" (click)="onClick()">
  <div class="task-header">
    <h2 class="title" [class.active]="focusedTask()[0].completed">
      {{ focusedTask()[0].title }}
    </h2>
    <h3 class="category">
      {{ focusedTask()[0].category }}
    </h3>
  </div>
</div>
} @else {
<div class="container" [class]="currentColor()">
  <div class="task-header">
    <h2 class="title">No Tasks!</h2>
  </div>
</div>
}
