/* Tertiary Colour Basic Transitions */

.init-work-tertiary {
  background-color: var(--work-tertiary-color);
}

.work-short-tertiary {
  animation: work-short-tertiary-anim 1.2s ease 0s 1 forwards normal;
}

@keyframes work-short-tertiary-anim {
  from {
    background-color: var(--work-tertiary-color);
  }
  to {
    background-color: var(--short-tertiary-color);
  }
}

.short-work-tertiary {
  animation: short-work-tertiary-anim 1.2s ease 0s 1 forwards normal;
}

@keyframes short-work-tertiary-anim {
  from {
    background-color: var(--short-tertiary-color);
  }
  to {
    background-color: var(--work-tertiary-color);
  }
}

.work-long-tertiary {
  animation: work-long-tertiary-anim 1.2s ease 0s 1 forwards normal;
}

@keyframes work-long-tertiary-anim {
  from {
    background-color: var(--work-tertiary-color);
  }
  to {
    background-color: var(--long-tertiary-color);
  }
}

.long-work-tertiary {
  animation: long-work-tertiary-anim 1.2s ease 0s 1 forwards normal;
}

@keyframes long-work-tertiary-anim {
  from {
    background-color: var(--long-tertiary-color);
  }
  to {
    background-color: var(--work-tertiary-color);
  }
}

/* Tertiary Colour Reset Transitions */

.work-reset-tertiary {
  animation: work-reset-tertiary-anim 0.2s ease-in-out 0s 1 forwards normal;
}

@keyframes work-reset-tertiary-anim {
  from {
    background-color: var(--work-tertiary-color);
  }
  to {
    background-color: var(--work-tertiary-color);
  }
}

.short-reset-tertiary {
  animation: short-reset-tertiary-anim 0.2s ease-in-out 0s 1 forwards normal;
}

@keyframes short-reset-tertiary-anim {
  from {
    background-color: var(--short-tertiary-color);
  }
  to {
    background-color: var(--work-tertiary-color);
  }
}

.long-reset-tertiary {
  animation: long-reset-tertiary-anim 0.2s ease-in-out 0s 1 forwards normal;
}

@keyframes long-reset-tertiary-anim {
  from {
    background-color: var(--long-tertiary-color);
  }
  to {
    background-color: var(--work-tertiary-color);
  }
}
