.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 50rem;
  height: 26rem;
  text-align: center;
  margin: auto;
}

.timer {
  color: white;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 16rem;
  font-family: monospace;
  margin: 0;
  padding: 0.2rem;
  box-shadow: none;
  transition: 0.5s ease;
  border-radius: 75px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 10px 5px inset;
}

.interval {
  position: relative;
  bottom: 15px;
  color: white;
  font-family: monospace;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  margin: 0;
}
