.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  width: 50rem;
  height: 25rem;
  text-align: center;
  margin: 0;
}

.timer {
  color: white;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 15rem;
  font-family: monospace;
  margin: 0;
}

.interval {
  color: white;
  font-family: monospace;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  margin: 0;
}
