<div class="button-tray">
  @if (showButton){
  <div animate.enter="enter-buttons" animate.leave="leave-buttons">
    <button (click)="onStartPause()">
      @if (!this.status()){
      <img src="play.png" />
      } @else {
      <img src="pause.png" />
      }
    </button>
    <button (click)="onSkip()">
      <img src="forward.png" />
    </button>
    <button (click)="onReset()">
      <img src="reset.png" />
    </button>
    <button (click)="onOpenForm()">
      <img src="menu.png" />
    </button>
  </div>
  }
</div>
