<div
  class="container"
  [ngClass]="{
    'init-work-secondary': this.currentColor === 'init',
    'work-short-secondary': this.currentColor === 'work-short',
    'short-work-secondary': this.currentColor === 'short-work',
    'work-long-secondary': this.currentColor === 'work-long',
    'long-work-secondary': this.currentColor === 'long-work',
    'work-reset-secondary': this.currentColor ==='work-reset',
    'short-reset-secondary': this.currentColor ==='short-reset',
    'long-reset-secondary': this.currentColor ==='long-reset',
  }"
>
  <button (click)="onStart()">
    <img src="/icons/play.png" />
  </button>
  <button (click)="onPause()">
    <img src="/icons/pause.png" />
  </button>
  <button (click)="onSkip()">
    <img src="/icons/forward.png" />
  </button>
  <button (click)="onReset()">
    <img src="/icons/reset.png" />
  </button>
  <button (click)="onOpenForm()">
    <img src="/icons/menu.png" />
  </button>
</div>
