<div
  class="container"
  [ngClass]="{
    'work-secondary': this.timeType(),
    'long-secondary':
      !this.timeType() && this.maxInterval() === this.curInterval(),
    'short-secondary':
      !this.timeType() && this.maxInterval() !== this.curInterval()
  }"
>
  @if (!this.timerStatus){
  <button (click)="onStart()">
    <img src="/icons/play.svg" />
  </button>
  } @else {
  <button (click)="onPause()">
    <img src="/icons/pause.svg" /></button
  >}
  <button (click)="onSkip()">
    <img src="/icons/skip.svg" />
  </button>
  <button (click)="onReset()">
    <img src="/icons/reset.svg" />
  </button>
  <button (click)="onOpenForm()">
    <img src="/icons/settingBUTTON.svg" />
  </button>
</div>
