<div class="timer__buttons">
  @if (!this.timerStatus){
  <button class="start-button" (click)="onStart()">
    <img src="/icons/play.svg" />
  </button>
  } @else {
  <button class="pause-button" (click)="onPause()">
    <img src="/icons/pause.svg" /></button
  >}
  <button class="skip-button" (click)="onSkip()">
    <img src="/icons/skip.svg" />
  </button>
  <button class="reset-button" (click)="onReset()">
    <img src="/icons/reset.svg" />
  </button>
  <button class="toggle-button" (click)="onToggleDisplayVars()">
    <img src="/icons/settingBUTTON.svg" />
  </button>
</div>
