.item {
  padding: 20px 10px;
  height: 3rem;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: white;
  font-size: 14px;
  font-family: var(--main-font);
}

.completed {
  text-decoration: line-through 5px;
}

.handle,
.category,
.title {
  margin: 2rem;
}

.handle {
  font-size: 4rem;
  width: 5rem;
}

.category {
  width: 5rem;
}

.title {
  width: 30rem;
}

.status {
  opacity: 0;
  margin: 0;
  padding: 0;
}
