@if (this.display()){
<div class="backdrop" (click)="closeForm()"></div>
<dialog open>
  <h1>Adjust Timer!</h1>
  <form [formGroup]="form">
    <div class="form-item">
      <label>Minutes</label>
      <input
        formControlName="minutes"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Short Break</label>
      <input
        formControlName="short"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Long Break</label>
      <input
        formControlName="long"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Intervals</label>
      <input
        formControlName="intervals"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>AutoCycle</label>
      <input type="checkbox" formControlName="cycle" />
    </div>
  </form>
</dialog>
}
