@if (this.display()){
<div class="backdrop" (click)="closeForm()"></div>
<dialog open class="form-box">
  <h1>Adjust Timer!</h1>
  <form class="form" [formGroup]="form">
    <div class="control">
      <label>Minutes</label>
      <input
        id="workMinutes"
        formControlName="minutes"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="control">
      <label>Short break</label>
      <input
        id="shortBreakMinutes"
        formControlName="short"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="control">
      <label>Long break</label>
      <input
        id="longBreakMinutes"
        formControlName="long"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="control">
      <label>intervals</label>
      <input
        id="workIntervals"
        formControlName="intervals"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="control">
      <label>AutoCycle</label>
      <input type="checkbox" formControlName="cycle" />
    </div>
  </form>
</dialog>
}
