@if (this.display()){
<div class="backdrop" (click)="closeForm()"></div>
<dialog open class="settings">
  <h1 class="form-title">Adjust Timer!</h1>
  <form class="form-body" [formGroup]="form">
    <div class="form-item">
      <label class="form-label">Minutes</label>
      <input
        class="form-input"
        formControlName="minutes"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="form-item">
      <label class="form-label">Short break</label>
      <input
        class="form-input"
        formControlName="short"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label class="form-label">Long break</label>
      <input
        class="form-input"
        formControlName="long"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="form-item">
      <label class="form-label">intervals</label>
      <input
        class="form-input"
        formControlName="intervals"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>

    <div class="form-item">
      <label class="form-label">AutoCycle</label>
      <input class="form-input" type="checkbox" formControlName="cycle" />
    </div>
  </form>
</dialog>
}
