.backdrop {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
dialog {
  display: flex;
  flex-direction: row;
  top: 10%;
  left: 0%;
  width: 75%;
  height: 70%;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

.container-library {
  width: 70%;
  border: black solid;
  overflow: auto;
}

.library {
  border: red solid;
  margin: 1rem;
  max-height: 75%;
  overflow: auto;
}

.task-list {
  width: 54rem;
  margin: 1rem;
  border: solid 1px #851313;
  min-height: 2rem;
  border-radius: 4px;
  font-family: sans-serif;
}

.timer-content {
  height: 30%;
  margin: 4px;
  border-color: blue;
  border-style: solid;
}

.container-timer-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 30%;
  border-color: red;
  border-style: solid;
}

.header {
  height: 15%;
}
