@if (this.display()){
<div
  class="backdrop"
  (click)="closeForm()"
  animate.enter="enter-backdrop"
  animate.leave="leave-backdrop"
></div>
<dialog
  open
  [class]="currentColor()"
  animate.enter="enter-dialog"
  animate.leave="leave-dialog"
>
  <h1>Adjust Timer!</h1>
  <form [formGroup]="form">
    <div class="form-item">
      <label>Minutes</label>
      <input
        title="1-60"
        formControlName="minutes"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Break(S)</label>
      <input
        title="1-60"
        formControlName="short"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Break(L)</label>
      <input
        title="1-60"
        formControlName="long"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Intervals</label>
      <input
        title="1-100"
        formControlName="intervals"
        type="number"
        step="1"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="100"
        [lowerLimit]="curInterval() + 1"
      />
    </div>
    <div class="form-item">
      <label>AutoCycle</label>
      <input type="checkbox" formControlName="cycle" />
    </div>
  </form>
  <button (click)="onReset()"></button>
</dialog>
}
