@if (this.display()){
<div class="backdrop" (click)="closeForm()"></div>
<dialog
  open
  [ngClass]="{
    'work': this.currentColor === 'init' || this.currentColor === 'short-work' || this.currentColor === 'long-work' || this.currentColor==='work-reset' || this.currentColor==='short-reset' || this.currentColor==='long-reset',
    'short': this.currentColor === 'work-short',
    'long': this.currentColor=== 'work-long',
  }"
>
  <h1>Adjust Timer!</h1>
  <form [formGroup]="form">
    <div class="form-item">
      <label>Minutes</label>
      <input
        title="1-60"
        formControlName="minutes"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Break(S)</label>
      <input
        title="1-60"
        formControlName="short"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Break(L)</label>
      <input
        title="1-60"
        formControlName="long"
        type="number"
        step="5"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="60"
        [lowerLimit]="1"
      />
    </div>
    <div class="form-item">
      <label>Intervals</label>
      <input
        title="1-100"
        formControlName="intervals"
        type="number"
        step="1"
        appSelect
        appNumbersOnly
        appLessThan
        [upperLimit]="100"
        [lowerLimit]="curInterval() + 1"
      />
    </div>
    <div class="form-item">
      <label>AutoCycle</label>
      <input type="checkbox" formControlName="cycle" />
    </div>
  </form>
</dialog>
}
