.timer {
    font-size: 12rem;
    background-color: blue;
    margin:0;
}

.title,.intervalWAT {
    background-color: red;
}

.timer-box {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 35rem;
    text-align: center;
    border: 3px solid red;
    padding: 10px;
}

.timer-display {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin:10px;
    border: 3px solid orange;
    background-color:aqua;
    border-radius: 25px;
}

.timer-variables {
    padding: 10px;
    margin:10px;
    border: 3px solid orange;
    display:flex;
    justify-content: space-evenly;
}
.timer-var-item{
    border: 3px solid brown;
    width: 4.5rem;
}
.timer-buttons {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 3px solid orange;

}

button{
    margin: 5px;
    padding: 5px;
    width:3cm;
}



