<div class="timer-box">
    <div>
        <p>TIMER</p>
        <p>{{this.counter*1000| date:'mm:ss'}}</p>
    </div>
    <div>
        <button (click)="onStart()">Start</button>
        <button (click)="onPause()">Pause</button>
        <button (click)="onReset()">Reset</button>
    </div>

</div>
<div class="form-box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Select Your Pomodoro timer Variables</p>

        <div class="control">
            <label>Minutes</label>
            <input id="workMinutes" formControlName="minutes">
        </div>

        <div class="control" formGroupName="breaks">
            <label>short break</label>
            <input id="shortBreakMinutes" formControlName="short">

            <label>long break</label>
            <input id="longBreakMinutes" formControlName="long">
        </div>

        <div class="control">
            <label>intervals</label>
            <input id="workIntervals" formControlName="minutes">
        </div>

        <div>
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
</div>