.timer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  text-align: center;
  background-color: var(--main-color);
  padding: 3rem;
  border-radius: 10px;
}

.timer__display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 1rem;
  border-radius: 25px;

  background-color: var(--secondary-color);

  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 7px 0px inset;
}

.timer--stopwatch {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 12rem;
  font-family: Impact;
  margin: 0;
}
.timer--intervalCount {
  color: white;
  font-family: Impact;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  margin: 0;
}
