<div class="timer-box">
    <div>
        <p>TIMER</p>
        <p class="timer">{{this.counter | date:'mm:ss'}}</p>
    </div>
    <div>
        <label></label>
            <p>{{this.workTime()*1000 | date:'mm:ss'}} Work Time</p>
        <label></label>
            <p>{{this.breakTimeS()*1000 | date:'mm:ss'}} Short Break</p>
        <label></label>
            <p>{{this.breakTimeL()*1000 | date:'mm:ss'}} Long Break</p>
        <label></label>
            <p>{{this.curInterval()+"/"+this.maxInterval()}} Work Intervals</p>
        <label></label>
            <p>{{this.autoCycle()}} Autocycling</p>
    </div>
    <div>
        <button (click)="onStart()">Start</button>
        <button (click)="onPause()">Pause</button>
        <button (click)="onReset()">Reset</button>
        <button (click)="onSkip()">Skip</button>
    </div>

</div>
<div class="form-box">
    <form [formGroup]="form">
        <p>Select Your Pomodoro timer Variables</p>

        <div class="control">
            <label>Minutes</label>
            <input id="workMinutes" formControlName="minutes" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
        </div>

        <div class="control">
            <label>short break</label>
            <input id="shortBreakMinutes" formControlName="short" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">

            <label>long break</label>
            <input id="longBreakMinutes" formControlName="long" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
        </div>

        <div class="control">
            <label>intervals</label>
            <input id="workIntervals" formControlName="intervals" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
        </div>

        <div class="control">
            <label>AutoCycle</label>
            <input type="checkbox" formControlName="cycle" (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
        </div>

    </form>
</div>
