:root {
  --main-font: monospace;
  --work-main-color: #ffc17f;
  --work-secondary-color: #ffc08d;
  --work-tertiary-color: #c27b52;
  --short-main-color: #927fff;
  --short-secondary-color: #b98dff;
  --short-tertiary-color: #6752c2;
  --long-main-color: #7fffb4;
  --long-secondary-color: #a8ff8d;
  --long-tertiary-color: #72c252;
}

.work-main {
  background-color: var(--work-main-color);
}

.work-secondary {
  background-color: var(--work-secondary-color);
}

.work-tertiary {
  background-color: var(--work-tertiary-color);
}

.short-main {
  background-color: var(--short-main-color);
}

.short-secondary {
  background-color: var(--short-secondary-color);
}

.short-tertiary {
  background-color: var(--short-tertiary-color);
}

.long-main {
  background-color: var(--long-main-color);
}

.long-secondary {
  background-color: var(--long-secondary-color);
}

.long-tertiary {
  background-color: var(--long-tertiary-color);
}

/* Animations */

.work-short-tertiary {
  animation-name: work-short-tertiary-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--work-tertiary-color);
}

.short-work-tertiary {
  animation-name: short-work-tertiary-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--short-tertiary-color);
}

.work-long-tertiary {
  animation-name: work-long-tertiary-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--work-tertiary-color);
}

.long-work-tertiary {
  animation-name: long-work-tertiary-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: var(--long-tertiary-color);
}

@keyframes work-short-tertiary-anim {
  to {
    background-color: var(--short-tertiary-color);
  }
}

@keyframes short-work-tertiary-anim {
  to {
    background-color: var(--work-tertiary-color);
  }
}

@keyframes work-long-tertiary-anim {
  to {
    background-color: var(--long-tertiary-color);
  }
}

@keyframes long-work-tertiary-anim {
  to {
    background-color: var(--work-tertiary-color);
  }
}
