.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 0.2rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 7px 3px inset;
}

button {
  min-width: 2.5cm;
  max-width: 5cm;
  height: 1.1cm;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 25px;
}
button:hover,
button:focus {
  box-shadow: rgba(50, 50, 93, 0.164) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.116) 0px 18px 36px -18px inset;
}

img {
  max-width: 35px;
  filter: brightness(1) invert(1) drop-shadow(2px 2px 1px #00000057);
}
