.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60rem;
  max-width: 95%;
  min-width: 56rem;
  height: 28rem;
  margin: 5rem auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 4px 3px inset;
  border-radius: 80px;
}
