<div
  class="background"
  [ngClass]="{
  'work-tertiary': this.colorClassState() === 'init',
  'work-short-tertiary': this.colorClassState() === 'work-short',
  'short-work-tertiary': this.colorClassState()=== 'short-work',
  'work-long-tertiary': this.colorClassState() === 'work-long',
  'long-work-tertiary': this.colorClassState() === 'long-work',
}"
></div>
<div
  class="body"
  [ngClass]="{
    'work-main': this.timeType(),
    'long-main': !this.timeType() && this.maxInterval() === this.curInterval(),
    'short-main': !this.timeType() && this.maxInterval() !== this.curInterval()
  }"
>
  <app-timer />
  <app-buttons />
  <app-form />
</div>
